<section class="section">
  <div class="forgot">
    <div class="forgot-left">
      <img src="/assets/img/recyclascorelogo.png" alt="RecyclaScore" width="50%">
    </div>
    <div class="forgot-center">
      <div class="section-header text-center">
        <h5 class="section-label">Mot de passe oublié ?</h5>
        <h2 class="section-title">Pas de panique, on va vous aider</h2>
      </div>

      <form [formGroup]="forgotForm" class="forgot-form" (ngSubmit)="onSubmit()">
        <div class="row">

        <!-- Champ E-mail -->
          <div class="col-sm-6">
            <div class="form-group form_pos">
              <app-input type="email" name="email" field="email" placeholder="E-mail" class="form-control"></app-input>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group form_pos">
              <app-button type="submit" className="button" value="Envoyer l'e-mail"></app-button>
            </div>
          </div>

          <div class="col-sm-6">
            <h6 class="section-label">Déjà inscrit ? &nbsp;<a routerLink="/connexion">Connexion</a></h6>
            <h6 class="section-label">Pas encore inscrit ? &nbsp;<a routerLink="/inscription">Inscription</a></h6>
          </div>
        </div>
      </form>
    </div>

    <div class="reservation-right">
      <img src="/assets/img/recyclascorelogo.png" alt="RecyclaScore" width="50%">
    </div>
  </div>
</section>
