<section class="section">
  <div class="register">
    <div class="register-left">
      <img src="/assets/img/recyclascorelogo.png" alt="RecyclaScore" width="50%">
    </div>
    <div class="register-center">
      <div class="section-header text-center">
        <h5 class="section-label">Inscrivez vous en 2 minutes</h5>
        <h2 class="section-title">Pas encore chez nous ?</h2>
      </div>

      <form [formGroup]="registerForm" class="register-form" (ngSubmit)="onSubmit()">
        <div class="row">

        <!-- Champ Pseudo -->
          <div class="col-sm-6">
            <div class="form-group form_pos">
              <app-input type="text" name="username" field="username" placeholder="Pseudo" class="form-control"></app-input>

              <ng-container *ngIf="username.touched && username.errors">
                <small *ngIf="username.errors!=['required']">Champs requis</small><br>
                <small *ngIf="username.errors!=['minlength']">Le pseudonyme doit contenir au minimum 3 caractères
                  (Currently:
                  {{ username.value.length }})</small><br>
                <small *ngIf="username.errors!=['maxlength']">Le pseudonyme doit contenir au maximum 20 caractères
                  (Currently:
                  {{ username.value.length }})</small>
              </ng-container>
            </div>
          </div>

        <!-- Champ E-mail -->
          <div class="col-sm-6">
            <div class="form-group form_pos">
              <app-input type="email" name="email" field="email" placeholder="E-mail" class="form-control"></app-input>

              <ng-container *ngIf="email.touched && email.errors">
                <small *ngIf="email.errors!=['required']">Champs requis</small>
              </ng-container>
            </div>
          </div>

        <!-- Champ Password -->
          <div class="col-sm-6">
            <div class="form-group form_pos">
              <app-input type="password" name="password" field="password" placeholder="Mot de passe" class="form-control"></app-input>

              <ng-container *ngIf="password.touched && password.errors">
                <small *ngIf="password.errors!=['required']">Champs requis</small><br>
                <small *ngIf="password.errors!=['minlength']">Le mot de passe doit contenir au minimum 8 caractères
                  (Currently:
                  {{ password.value.length }})</small>
              </ng-container>
            </div>
          </div>

        <!-- Champ ConfirmPassword -->
          <div class="col-sm-6">
            <div class="form-group form_pos">
              <app-input type="password" name="password" field="confirmPassword" placeholder="Confirmation Mot de passe"
                class="form-control"></app-input>

              <ng-container *ngIf="confirmPassword.touched && confirmPassword.errors">
                <small *ngIf="confirmPassword.errors!=['required']">Champs requis</small><br>
                <small *ngIf="password.errors!=['compare']">Le mot de passe doit être simillaire</small>
              </ng-container>
            </div>
          </div>

          <!-- Champs d'informations supplémentaires -->

          <!-- Champ Prénom -->
          <div class="col-sm-6" *ngIf="showAdditionalFields">
            <div class="form-group form_pos">
              <app-input type="text" class="form-control" formControlName="firstname" field="firstname"
                placeholder="Prénom"></app-input>
            </div>
          </div>

          <!-- Champ Nom -->
          <div class="col-sm-6" *ngIf="showAdditionalFields">
            <div class="form-group form_pos">
              <app-input type="text" class="form-control" formControlName="lastname" field="lastname"
                placeholder="Nom"></app-input>
            </div>
          </div>

          <!-- Champ Adresse -->
          <div class="col-sm-6" *ngIf="showAdditionalFields">
            <div class="form-group form_pos">
              <app-input type="text" class="form-control" formControlName="address" field="address"
                placeholder="Adresse"></app-input>
            </div>
          </div>

          <!-- Champ Téléphone -->
          <div class="col-sm-6" *ngIf="showAdditionalFields">
            <div class="form-group form_pos">
              <app-input type="text" class="form-control" formControlName="phone" field="phone"
                placeholder="Téléphone"></app-input>
            </div>
          </div>

          <div class="col-sm-6" (click)="toggleAdditionalFields()">
            <div class="form-group form_pos">
              <h6 class="section-label">+ Informations supplémentaires</h6>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group form_pos">
              <h6 class="section-label">Déjà inscrit ? &nbsp;<a routerLink="/connexion">Connexion</a></h6>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group form_pos">
              <app-button type="submit" className="button" value="Inscription"></app-button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="reservation-right">
      <img src="/assets/img/recyclascorelogo.png" alt="RecyclaScore" width="50%">
    </div>
  </div>
</section>
