<section class="section">
  <div class="login">
    <div class="login-left">
      <img src="/assets/img/recyclascorelogo.png" alt="RecyclaScore" width="50%">
    </div>
    <div class="login-center">
      <div class="section-header text-center">
        <h5 class="section-label">Connexion</h5>
        <h2 class="section-title">Accédez à votre compte</h2>
      </div>

      <form [formGroup]="loginForm" class="login-form" (ngSubmit)="LogIn()">
        <div class="row">

        <!-- Champ E-mail -->
          <div class="col-sm-6">
            <div class="form-group form_pos">
              <app-input type="email" name="email" field="email" placeholder="E-mail" class="form-control"></app-input>
            </div>
          </div>

        <!-- Champ Password -->
          <div class="col-sm-6">
            <div class="form-group form_pos">
              <app-input type="password" name="password" field="password" placeholder="Password" class="form-control"></app-input>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group form_pos">
              <app-button type="submit" className="button" value="Connexion"></app-button>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group form_pos">
              <h6 class="section-label">Mot de passe oublié ? &nbsp;<a routerLink="/forgot-password">Par ici</a></h6>
              <h6 class="section-label">Pas encore inscrit ? &nbsp;<a routerLink="/inscription">Inscription</a></h6>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="reservation-right">
      <img src="/assets/img/recyclascorelogo.png" alt="RecyclaScore" width="50%">
    </div>
  </div>
</section>
