.login {
  display: flex;
  justify-content: space-between;
}

.login-left img {
  margin-right: 0;
  margin-left: auto;
  display: block;

  &:first-child {
      margin-bottom: 25px;
  }
}

.login-right {
  display: flex;
  align-items: flex-end;
}

.login-center {
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 150px;
}

.login-form {
  margin-top: 60px;

  .form-control {
      background: 0 0;
      box-shadow: none;
      color: #3d3d3d;
      border-color: #bebebe;
      height: 65px;
      font-size: 21px;
      font-family: 'Bebas Neue', sans-serif;

      &::-webkit-input-placeholder {
          color: #3d3d3d;
      }

      &::-moz-placeholder {
          color: #3d3d3d;
      }

      &:-ms-input-placeholder {
          color: #3d3d3d;
      }

      &:-moz-placeholder {
          color: #3d3d3d;
      }
  }

  .form-group {
      margin: 15px 0;
  }

  .timepicker a.btn,
  .timepicker td span {
      color: #333;
      padding: 0;
  }

  .table-condensed td,
  .table-condensed th {
      padding: 0;
  }

  .bootstrap-datetimepicker-widget {
      width: 180px;

      td span {
          height: 20px;
          line-height: 25px;
          width: auto;
      }

      td,
      th {
          height: 20px;
          line-height: 25px;
      }
  }
}

.section-label {
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.button {
  margin-top: 15px;
  height: 65px;
  border-radius: 4px;
  width: 100%;
}
