<div class="forget">
  <label class="label" for="check">
    <input type="checkbox" class="form-check-input" id="check">Rester connecté
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/forgot-password">Mot de passe oublié ?</a></label>
</div>
