input.form-check-input {
  position: relative;
  appearance: none;
  outline: none;
  width: 30px;
  height: 15px;
  background-color: #ffffff;
  border: 1px solid #F2F2F2;
  border-radius: 15px;
  box-shadow: inset -20px 0 0 0 #F2F2F2;
  transition-duration: 200ms;
}

input.form-check-input:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 13px;
  height: 13px;
  background-color: transparent;
  border-radius: 25%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.form-check-input:checked {
  border-color: #007AFF;
  box-shadow: inset 10px 0 0 0 #007AFF;
}

input.form-check-input:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

.forget{
  margin: -15px 0 15px ;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.forget label input{
  margin-right: 3px;
}

.forget label a{
  color: #fff;
  text-decoration: none;
}

.forget label a:hover{
  text-decoration: underline;
}
