.form-control::-webkit-input-placeholder {
  color: #a5a5a5
}

.form-control::-moz-placeholder {
  color: #a5a5a5
}

.form-control:-ms-input-placeholder {
  color: #a5a5a5
}

.form-control::-ms-input-placeholder {
  color: #a5a5a5
}

.form-control::placeholder {
  color: #a5a5a5
}

.form-control:focus {
  border: 1px solid #efefef;
  -webkit-box-shadow: none;
  box-shadow: none
}

.search-box__input {
  width: 100%
}
